$violet_01: #8b69ef !default;
$violet_02: #f3f0ff !default;

$white: #ffffff !default;
$black: #000000 !default;

$blue_00: #f7fafc !default;
$blue_01: #fbfeff !default;
$blue_02: #edf9ff !default;
$blue_03: #caedfc !default;
$blue_04: #a2ddf9 !default;
$blue_05: #87cef2 !default;
$blue_06: #6dc4f3 !default;
$blue_07: #3ca4e5 !default;
$blue_08: #358acc !default;
$blue_09: #3073b2 !default;
$blue_10: #00538c !default;
$blue_11: #002540 !default;
$blue_12: #3073b2 !default;
$blue_13: #edf9ff !default;
$blue_14: #f7fafc !default;
$blue_15: #a2ddf9 !default;
$blue_16: #f7fafc !default;
$blue_18: #edf9ff !default;
$blue_19: #2962ff !default;

$neutrals_01: #f2f2f2 !default;
$neutrals_02: #e0e0e0 !default;
$neutrals_03: #c4ccd0 !default;
$neutrals_04: #a9b0b4 !default;
$neutrals_05: #828282 !default;
$neutrals_06: #747b7e !default;
$neutrals_07: #5f6568 !default;
$neutrals_08: #454c4f !default;
$neutrals_09: #333333 !default;
$neutrals_10: #1a1f22 !default;
$neutrals_11: #dee4e7 !default;
$neutrals_12: #5f6568 !default;
$neutrals_13: #edf0f2 !default;
$neutrals_14: #24292e !default;
$neutrals_15: #62688f !default;
$neutrals_16: #2f34370f !default;

$green_01: #f9fdfa !default;
$green_02: #f2fbf6 !default;
$green_03: #e5f7ec !default;
$green_04: #c7eed8 !default;
$green_05: #a5e5c2 !default;
$green_06: #79dca9 !default;
$green_07: #2cd28b !default;
$green_08: #27bc7c !default;
$green_09: #22a36c !default;
$green_10: #1c8558 !default;
$green_11: #145e3e !default;
$green_12: #eafef5 !default;
$green_13: #009e5a !default;

$red_01: #fff9f9 !default;
$red_02: #fff3f2 !default;
$red_03: #ffe6e5 !default;
$red_04: #ffcac8 !default;
$red_05: #ffa8a6 !default;
$red_06: #ff7f7b !default;
$red_07: #ff3f35 !default;
$red_08: #d32f2f !default;
$red_09: #c63129 !default;
$red_10: #a12822 !default;
$red_11: #721c18 !default;

$yellow_01: #fffef9 !default;
$yellow_02: #fffcf2 !default;
$yellow_03: #fff9e5 !default;
$yellow_04: #fff3c8 !default;
$yellow_05: #ffeda6 !default;
$yellow_06: #ffe77b !default;
$yellow_07: #ffe035 !default;
$yellow_08: #e4c82f !default;
$yellow_09: #c6ae29 !default;
$yellow_10: #a18e22 !default;
$yellow_11: #726418 !default;
